<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-11 d-flex justify-content-end">
                <a href="/agenda/crear"> <button class="btn btn-primary ">Crear Contacto</button></a>
            </div>
        </div>
        <br>
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>-</th>
                    <th>-</th>
                </tr>
            </thead>
            <tbody>
                <% contactos.forEach(element => { %>
                <tr>
                    <td scope="row"> <%=element.nombre %></td>
                    <td><%=element.pellido %></td>
                    <td><%=element.correo %></td>
                    <td><%=element.tel %></td>
                    <td>
                        <form action="post" action="/agenda/editar/<%=element.id%>">
                            <input type="submit" class="btn btn-primary" value="Borrar" />
                        </form>
                    </td>
                    <td>
                        <form method="post" action="/agenda/eliminar/<%=element.id%>">
                            <input type="submit" onclick="kill()" id="btn-delete" class="btn btn-danger" value="Borrar" />
                        </form>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

    <%- include('../partials/jsBootstrap.ejs') %>

</body>

</html>